In [1]:
from pathlib import Path

import pandas as pd

from ynab_format_csv.fileio import (
    read_csv_transaction_file,
)

In [19]:
csv_file = Path("resources/CapitalOne-Transactions.csv")

In [20]:
df: pd.DataFrame = read_csv_transaction_file(csv_file)
df

,Account Number,Transaction Description,Transaction Date,Transaction Type,Transaction Amount,Balance
0,238,Purchase at Grocery Store,11/04/24,Debit,50.0,15000.0
1,238,Online Subscription Payment,11/04/24,Debit,15.0,15050.0
2,238,ATM Withdrawal,11/04/24,Debit,100.0,15065.0
3,238,Salary Deposit,11/04/24,Credit,2000.0,15165.0
4,238,Utility Bill Payment,11/04/24,Debit,75.0,17165.0
5,238,Restaurant Payment,11/04/24,Debit,45.0,17240.0
6,238,Online Shopping,11/04/24,Debit,120.0,17285.0
7,238,Transfer to Savings,11/04/24,Debit,500.0,17405.0
8,238,Refund from Store,11/04/24,Credit,30.0,17905.0
9,238,Gas Station Payment,11/04/24,Debit,40.0,17875.0

In [14]:
for num, val in enumerate(df.columns.tolist()):
    print(num, val)
    print(type(val))

    # Print the pandas datatype of the current column
    print(df.iloc[num].dtype)

0 Trans. Date
<class 'str'>
object
1 Post Date
<class 'str'>
object
2 Description
<class 'str'>
object
3 Amount
<class 'str'>
object
4 Category
<class 'str'>
object

In [21]:
float_columns = [col for col in df.columns if df[col].dtype == "float64"]
print(float_columns)

['Transaction Amount', 'Balance']

In [27]:
value: int = 1.999999
print(int(value))

1